/* Table of Contents
------------------------------------------------------------
 - General Styles                                           
 - Menu-Panel
 - Main Content Body
 - NavBar
 - Device Cards
 - Helpers
 - Mobile
*/

/* General Style */
/* --------------------------------------------------------- */

html {
    min-height: 100%;
}

body, html, body > .ember-view {
    font-family: Lato, Helvetica, Arial, sans-serif;;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

#container-outlet {
    min-width: 300px;
}

/* Menu Panel */
/* --------------------------------------------------------- */
#sidebar-container {
    float: left;
    height: 100%;
    position: absolute;
}

#panel-menu {
    float: left;

    width: 250px;
    height: 100%;

    background-color: #2b3741;
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,.7);
}

#panel-menu #user-info img {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

#panel-menu #user-info {
    padding-top: 20px;
    height: 250px;
}

#panel-menu #user-info img {
    position: absolute;
    margin-left: 24px;
}

#leftMenu .accordion-group {
    margin-bottom: 0;

    border: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #1d272f;
}

#leftMenu .accordion-inner ul {
    margin: 0;
    padding-left: 0;
}

#leftMenu .accordion-inner ul li {
    line-height: 75px;

    display: block;

    height: 75px;
    padding-left: 20px;

    -webkit-transition: .25s;
            transition: .25s;

    color: #6c757d;
    background-color: #1d272f;
}

#leftMenu .accordion-inner ul li:hover {
    background-color: #4e6071;
}

#leftMenu .accordion-inner li span.icon {
    color: #191d21;
}

#leftMenu .accordion-heading {
    line-height: 75px;

    height: 75px;

    list-style-type: none;

    border-top: 1px solid #182026;
    background-color: #2b3741;
}

#leftMenu .accordion-heading.last {
    border-bottom: 1px solid #182026;
}

#leftMenu .accordion-heading a {
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 100%;
    height: 100%;
    padding-left: 20px;

    text-decoration: none;

    color: #fff;
}

#leftMenu .accordion-heading a:hover {
    color: #fff;
    background-color: #4e6071;
}

#leftMenu span.icon {
    color: #2ecc71;
}

#panel-menu .fa.dark {
    color: #182026;
}

#panel-menu .fa.light {
    color: #6A737C;
}

#panel-menu .sidebar-link.active {
    height: 100%;
    width: 100%;
    background-color: #1D272F;
    background: -moz-linear-gradient(top,  #e5494c 8%, #1D272F 8%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#e5494c), color-stop(8%,#1D272F)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5494c 8%,#1D272F 8%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5494c 8%,#1D272F 8%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5494c 8%,#1D272F 8%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5494c 8%,#1D272F 8%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5494c', endColorstr='#1D272F',GradientType=0 ); /* IE6-9 */
}

#panel-menu .sidebar-link.active .fa.dark {
    color: #E5494C;
}

#panel-menu .sidebar-link.active .fa.light {
    color: #fff;
}

#panel-menu .fineprint {
    font-size: 12px;
    color: #7F8891;
    padding-top: 10px;
    padding-left: 25px;
}

#panel-menu li {
    cursor: pointer;
}

.hide-sidebar > #navbar, .hide-sidebar > #main-content {
    margin-left: 0px;
}

.hide-sidebar .hamburger {
    visibility: collapse;
}

/* Body */
/* --------------------------------------------------------- */

#main-container {
    margin-left: 250px;
}

/* Navbar */
/* --------------------------------------------------------- */

.hamburger {
    margin-left: 20px;
    font-size: 2rem;
    float: left;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

#navbar {
    margin-left: 250px;

    border: none;
    background-color: #e4494c;
    text-align: center;
}

#navbar .navbar-brand,
#navbar .navbar-nav li a,
#navbar .navbar-nav label {
    line-height: 80px;

    height: 80px;
    padding-top: 0;
}

#navbar .navbar-nav label {
    color: #fff;
}

#navbar form {
    margin-top: 23px;
    margin-bottom: 0;
}

#navbar .navbar-inverse .navbar-toggle,
#navbar .navbar-inverse .navbar-collapse,
#navbar .navbar-inverse .navbar-form,
form.navbar-form.navbar-right.ng-pristine.ng-valid,
div#navbar-collapse-01,
#navbar button.navbar-toggle {
    border-color: #fff;
}

form.navbar-form.navbar-right.ng-pristine.ng-valid {
    margin-top: 0;
}

#navbar .title {
    color: #fff;
    font-size: 2rem;
}

/* Content */
/* --------------------------------------------------------- */

#main-content {
    height: 100%;
    padding-top: 80px;
    padding-left: 20px;
    margin-left: 250px;
    padding-right: 20px;
}

/* Device Cards */
/* --------------------------------------------------------- */

.device {
    word-break: break-all;
}

.device.col-md-3 {
    width: 400px;
    margin-bottom: 20px;

    color: #798795;
    border-radius: 6px;
}

.device.link {
    cursor: pointer;
}

.device.box {
    margin: 0;
    padding: 0;

    list-style-type: none;

    border-radius: 0 0 6px 6px;
    background-color: #ecf0f1;
}

.device-instrument {
    padding: 4px 25px 7px 25px;
}

img.device-instrument {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.device > ul.main-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.device > ul.main-list > li {
    font-size: 14px;
    line-height: 1.214;

    position: relative;

    margin-top: 2px;
    padding: 4px 25px 7px 25px;

    -webkit-transition: .25s;
            transition: .25s;

    background: #ecf0f1;
    background-size: 20px 20px;
}

.device > ul.main-list > li:first-child {
    margin-top: 0;
    padding-top: 15px;
}

.device > ul.main-list > li:last-child {
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px;
}

.device > ul.main-list > li:last-child::after {
    clear: both;
}

.device > ul.main-list > li h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    font-size: 20px;
}

.device-head {
    position: relative;

    padding: 19px 25px 20px;

    color: #34495e;
    border-radius: 6px 6px 0 0;
    background: #1abc9c;
    background-size: 16px 16px;
}

.device-power-icon:before {
    font-family: 'Flat-UI-Pro-Icons';
    font-size: 16px;
    line-height: 17px;

    position: absolute;
    top: 50%;
    left: 92%;

    display: inline-block;

    margin: -.5em 0 0 -1em;

    content: '\e634';
}

.device small {
    display: block;
    text-transform: uppercase;
    line-height: 1.2;
}

.device-head h5 {
    font-size: 20px;

    margin: 0;
    padding: 0;
}

.device-icon {
    font-size: 24px;

    float: left;

    padding: 11px 22px 0 0;
}

.device-image {
    width: 100%;
    height: 120px;
}

.device-content {
    overflow: hidden;

    padding-top: 1px;
}

.device-name {
    font-size: 17px;

    margin: 1px 0 3px;

    color: #fff;
}

.device-history {
    background-color: #34495E;
    background-size: auto 120px;
}

.locationBtn {
  text-align:left;
  color: #fff;
  height:100%;
  width:100%;
  background-color: #2b3741;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
          transition: border .25s linear, color .25s linear, background-color .25s linear;

  -webkit-font-smoothing: subpixel-antialiased;
  }

.locationBtn:hover,
.locationBtn:focus,
.locationBtn.active {
  background-color: rgba(0,0,0,.7);
  color: #1abc9c;
  border-color: #cacfd2;
  }

.btn-group-vertical {
    width: 100%;
}

.device .progress {
    background-color: #7F8C8D;
    margin-top: 9px;
    float: right;
    height: 15px;
    width: 150px;
}

div.device {
    margin-bottom: 20px;
}

.device > .device-generic {
    font-size: 14px;
    line-height: 1.214;

    position: relative;
    padding: 4px 25px 7px 25px;

    -webkit-transition: .25s;
            transition: .25s;

    margin-top: 0;
    padding-top: 15px;
    border-radius: 0 0 6px 6px;
}

li > .bootstrap-switch-square {
    float: right;
    display: inline;
    margin-top: 2px;
}

.btn-green, .btn-green:active {
    color: #1ABC9C;
    font-weight: bold !important;
    height: 29px;
    line-height: 1;
}

.input-29 {
    height: 29px;
    display: inline-block;
    width: 124px;
}

.device .selectpicker {
    background-color: #34495E;
    color: #1ABC9C;
    font-weight: bold !important;
    line-height: 1.5;
    width: 120px;
}

.device .selectpicker > button {
    height: 29px;
}

.selectpicker.device-select > .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 120px !important;
}

.btn-save {
    float: right;
    display: inline-block;
    margin-top: -30px;
}

.device.box li .selectize-control {
    margin-top: 4px;
    font-size: 16px;
}

.device.box li .selectize-control.multi .selectize-input > div {
    font-size: 16px;
}

/* Login Form */
/* --------------------------------------------------------- */

.login-form {
    text-align: center;
}

.login-form h3 {
    margin-top: 0;
}

/* Helpers */
/* --------------------------------------------------------- */

.contain {
    background-size: contain;
}

.cover {
    background-size: cover;
}

.right {
    float: right;
}

/* Mobile */
/* --------------------------------------------------------- */

@media (max-width: 900px) {
    #main-content {
        height: 100%;
        padding-top: 80px;
        padding-left: 0px;
        margin-left: 250px;
        padding-right: 0px;
    }
}