//Grid unit definition
$baseunit: 48px;
$marginunit: $baseunit / 6;

@import 'mediaqueries';
@import 'materialize';
@import 'color-overrides';
@import 'type-overrides';
@import 'open-sans';
@import 'preview';
@import 'hamburger';
@import 'menu';
@import 'dashboard';
@import 'login';
@import 'tooltips';

body,
html
{
    background-color: $primary-background-color;
}

[data-ember-action]
{
    cursor: pointer;
}

html
{
    overflow: hidden;

    height: 100%;
}

body
{
    overflow: auto;

    height: 100%;
}

.hidden
{
    display: none;
    visibility: hidden;
}

.clearfix
{
    overflow: auto;
}

.background-loader
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 100px;
    margin: auto;
}

.alert {
    @extend .card-panel
}