/*** Colors ***/
$brand-color: #eb0a1e;
$brand-color-light: lighten($brand-color, 15%);
$brand-color-dark: darken($brand-color, 15%);

$primary-background-color: color("grey", "darken-4");
$primary-background-color-light: color("grey", "darken-3");

$secondary-color: #2e80ab;
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");