.main-container {
    margin-left: 50px;
}

#map {
    position: relative;
}

.content-overlay {
    position: absolute;
    z-index: 1001;
    width: 350px;
}

.cards {
    position: absolute;
    z-index: 1001;
    width: 350px;
    margin-left: 20px;
    margin-top: 3px;

    .vin {
        color: #7F7F7F;
    }
    
    .card {
        border-radius: 0;
        padding-top:0;
        
        .card-title {
            padding: 18px 20px 13px;
            line-height: $font-size-title;
            font-weight: normal;
            color: color("shades", "black");
        }

        .card-content {
            margin-bottom: 10px;
            max-height: calc(100vh * 0.40);
            padding: 0;
            border-radius: 0;
        }
        
        .collection.carlist {
            overflow-y: auto;
            max-height: calc(100vh * 0.40 - 70px);
            margin-bottom: -10px;
            padding: 0 20px 20px 20px;
            background-color: transparent;
        }
        
        /* Provides guaranteed padding inside scroll-overflow collections 
           without misaligning scroll bar */
        .collection::before {
            content: "";
            position:absolute;
            height: 10px;
            left: 0px;
            /* scrollbars are 17px wide on desktop browsers */
            width: calc(100% - 17px);
            z-index:1;
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        }
        .collection::after {
            content: "";
            position:absolute;
            height: 30px;
            bottom: 0px;
            left: 0px;
            /* scrollbars are 17px wide on desktop browsers */
            width: calc(100% - 17px);
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }

        .collection {
            margin: 0;
            padding: 0;
            border: none;
        }

        .collection-item {
            height: inherit;
            padding-left: 55px;
            padding-right: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
        }

        .collection-item.car {
            padding-left: 0;
            padding-top: 7px;
            padding-bottom: 1px;

            h4 {
                font-size: 1.2em;
                margin: 0;
                line-height: 1.1em;
                text-transform: capitalize;
            }
        }

        a {
            text-transform: none;
        }
    }

    .card.car-selected {

        .card-title {
            background-color: #DCF0FD;
        }

        .card-content {

            .info {
                background-color: #DCF0FD;
                padding: 0 20px 13px;
                height: 120px;

                img {
                    float: left;
                    margin-right: 10px;
                }
            }

            .info:after {
                clear: both;
            }

            .driverscore {
                padding: 13px 20px 13px;
                clear: both;
                border-bottom: 1px solid #e0e0e0;

                .score {
                    float: right;
                    background-color: #4CAF4F;
                    font-weight: bold;
                    color: #FFF;
                    width: 45px;
                    height: 45px;
                    font-size: 1.4em;
                    text-align: center;
                    line-height: 45px;
                }
            }

            .notifications {
                margin-top: 5px;
                padding: 0 20px 13px;
                clear: both;
            }
            
        }
        
    }
}