@import 'color-overrides';

.main-container {
    width: 100vw;
    margin-left: 0px;
}

#map {
    position: relative;
}

.content-overlay {
    position: absolute;
    z-index: 1001;
    width: 350px;
}

.cards {
    position: absolute;
    z-index: 1001;
    width: 350px;
    margin-left: 53px;
    margin-top: -7px;
    
    .card:first-child {
        border-radius: 0 0 2px 2px;
        padding-top:0;
        
        .card-content {
            padding:0;
        }
        
        .card-title {
            color: #fff;
            background-color: $primary-color;
            padding: 0 20px;
            line-height: 48px;
            font-weight: normal;
        }
        
        .collection {
            padding: 0 20px 20px 20px;
            background-color: transparent;
        }
    }
    
    .card {
        .card-title {
            color: $primary-color-dark;
        }

        .card-content {
            margin-bottom: 10px;
            max-height: calc(100vh * 0.90);
            padding: 0;
        }

        .collection {
            margin: 0;
            padding: 0;
            border: none;
        }

        .collection-item {
            height: inherit;
            padding-left: 55px;
            padding-right: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;

            .circle {
                position: absolute;
                width: 42px;
                height: 42px;
                overflow: hidden;
                left: 0;
                display: inline-block;
                vertical-align: middle;
            }
        }

        a {
            text-transform: none;
        }
    }
}

.carlist {
    overflow-y: auto;
    max-height: calc(100vh * 0.90 - 70px);
}