.main-container {
    margin-left: 50px;
}

#map {
    position: relative;
}

.content-overlay {
    position: absolute;
    z-index: 1001;
    width: 350px;
}

.cards {
    position: absolute;
    z-index: 1001;
    width: 350px;
    margin-left: 20px;
    margin-top: 3px;
    
    .card {
        border-radius: 0;
        padding-top:0;
        
        .card-title {
            padding: 0 20px;
            line-height: 48px;
            font-weight: normal;
            color: color("shades", "black");
        }

        .card-content {
            margin-bottom: 10px;
            max-height: calc(100vh * 0.90);
            padding: 0;
            border-radius: 0;
        }
        
        .carlist {
            overflow-y: auto;
            max-height: calc(100vh * 0.90 - 70px);
            margin-bottom: -10px;
            
            .collection {
                padding: 0 20px 20px 20px;
                margin-top:-10px;
                background-color: transparent;
            }
        }

        .collection {
            margin: 0;
            padding: 0;
            border: none;
            
            /* Provides guaranteed padding inside scroll-overflow collections 
               without misaligning scroll bar */
            .bottompad {
                position:absolute;
                height: 20px;
                background-color: color("shades", "white");
                bottom: 0px;
                left: 0px;
                /* scrollbars are 17px wide on desktop browsers */
                width: calc(100% - 17px);
            }
        }

        .collection-item {
            height: inherit;
            padding-left: 55px;
            padding-right: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;

            .circle {
                position: absolute;
                width: 42px;
                height: 42px;
                overflow: hidden;
                left: 0;
                display: inline-block;
                vertical-align: middle;
            }
        }

        a {
            text-transform: none;
        }
    }
}