.hamburger {
    width: 48px;
    height: 48px;
    float: left;

    ul {
        width: 48px;
        color: #191C1D;
        margin-top: 0;
        height: 45px;
        line-height: 45px;

        li i {
            font-size: 30px;
            margin-left: 10px;
            text-align: center;
            vertical-align: middle;
        }

        li span {
            margin-left: 10px;
            vertical-align: middle;
        }

        li:first-child {
            background-color: $brand-color;
            color: #fff;
        }
        
        li:first-child:hover {
            background-color: $brand-color;
        }

        /*li:hover {
            background-color: #3F3F3F;
        }*/
    }

    ul.active {
        
    }
}