.hamburger {
    width: 50px;
    height: 100vh;
    float: left;

    ul {
        width: 50px;
        color: #fff;
        margin-top: 0;

        li {
            font-size: 30px;
            width: 50px;
            text-align: center;
        }
    }

    ul.active {
        
    }
}