.menu {
    width: 48px;
    height: 48px;
    float: left;

    ul {
        width: 250px;
        color: #fff;
        background-color: $primary-background-color;
        margin-top: 0;
        height: 45px;
        line-height: 45px;

        li i {
            font-size: 30px;
            margin-left: 10px;
            text-align: center;
            vertical-align: middle;
        }

        li span {
            margin-left: 10px;
            vertical-align: middle;
        }

        li:first-child {
            background-color: $primary-color;
            font-size: $font-size-title;
            font-weight: normal;
        }

        li:first-child:hover {
            background-color: $primary-color;
        }
        
        li:hover {
            background-color: $primary-background-color-light;
        }
    }

    ul.active {
        
    }
}