<?xml version='1.0' encoding='utf-8'?>
<widget id="io.nitrogen.oxide" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Oxide</name>
    <description>
        A mobile/responsive application for Nitrogen's IoT framework.
    </description>
    <author email="ivan.judson@microsoft.com" href="http://irjudson.org/">
        Ivan R. Judson
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="www/assets/img/logo-small.png" />
    <icon src="www/assets/img/logo-small.png" platform="android" density="ldpi" />
    <icon src="www/assets/img/logo-small.png" platform="android" density="mdpi" />
    <icon src="www/assets/img/logo-small.png" platform="android" density="hdpi" />
    <icon src="www/assets/img/icon.png" platform="android" density="xhdpi" />
</widget>
