<li {{action "selectCar" car}} class="collection-item car">
    <h4>{{car.name}}</h4>
    <p>
        <small class="vin">VIN#</small>
        <small>{{car.vin}}</small>
    </p>

    {{#if car.is_active}}
    {{!-- TODO: Display current driver --}}
    {{/if}}
</li>