<div class="hamburger">
    <ul>
        <li {{action "toggleSideNav"}}>
            <i class="mdi-navigation-menu"></i>
            <span>Connected Car</span>
        </li>
        <li {{action 'invalidateSession' }}>
            <i class="mdi-social-person"></i>
            <span>Sign Out</span>
        </li>
    </ul>
</div>