<div class="hamburger">
    <ul>
        <li {{action "toggleSideNav"}}>
            <i class="mdi-navigation-menu" title="Menu"></i>
        </li>
        <li {{action 'invalidateSession' }}>
            <i class="mdi-social-person" title="Sign out"></i>
        </li>
    </ul>
</div>