<ul>
    <li {{action "toggleSideNav"}}>
        <i class="mdi-navigation-menu" title="Menu"></i>
        <span>Connected Car</span>
    </li>
    <li class="selected">
        <i class="mdi-maps-layers" title="Overview"></i>
        <span>Overview</span>
    </li>
    <li class="" {{action "toggleDriverView"}} id="driversMenuButton">
        <i class="mdi-action-account-child" title="Drivers"></i>
        <span>Drivers</span>
    </li>
    <li class="logout" {{action "invalidateSession"}}>
        <i class="mdi-navigation-close" title="Sign out"></i>
        <span>Sign out</span>
    </li>
</ul>