<div class="menu">
    <ul>
        <li>
            <span>Connected Car</span>
        </li>
        <li>
            <i class="mdi-maps-layers"></i>
            <span>Map Overview</span>
        </li>
        <li>
            <i class="mdi-maps-directions-car"></i>
            <span>Vehicles</span>
        </li>
        <li>
            <i class="mdi-social-group"></i>
            <span>Drivers</span>
        </li>
    </ul>
</div>