<div>
    <div id="panel-menu">
        <div id="user-info">
            <img src="assets/img/user.png" width="200px" />
        </div>
        <div class="accordion" id="leftMenu">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle dark fa-stack-2x"></i>
                            <i class="fa fa-home light fa-stack-1x fa-inverse"></i>
                        </span> Dashboard
                    </a>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle dark fa-stack-2x"></i>
                            <i class="fa fa-map-marker light fa-stack-1x fa-inverse"></i>
                        </span> Locations
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <ul>
                            <li>{{fa-icon "map-marker"}} House</li>
                            <li>{{fa-icon "map-marker"}} Shop</li>
                            <li>{{fa-icon "map-marker"}} Pool</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle dark fa-stack-2x"></i>
                            <i class="fa fa-gear light fa-stack-1x fa-inverse"></i>
                        </span> Settings
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <ul>
                            <li>This is one</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading last">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle dark fa-stack-2x"></i>
                            <i class="fa fa-sign-out light fa-stack-1x fa-inverse"></i>
                        </span> Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>