{{#unless hideSidebar}}
	<div id="sidebar-container">
        {{partial "sidebar"}}
	</div>
{{/unless}}
<div id="container-outlet">
    {{#unless hideNavbar}}
        {{partial "navbar"}}
    {{/unless}}

    <div id="main-content" class="container-fluid">
        {{outlet}}
    </div>
</div>