{{partial "hamburger"}}

<div class="main-container">

    <div class="cards">
        <div class="card white">
            <div class="card-content">
                <span class="card-title"><i class="mdi-maps-directions-car left"></i>Tracked Vehicles</span>
                <div class="carlist">
                    <ul class="collection">
                        {{#each car in model}}
                            {{partial "car-card"}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{!-- Map --}}

    {{ox-map mapReference=mapReference}}
</div>