{{#unless hideNavbar}}
    {{partial "navbar"}}
{{/unless}}

<div id="main-content">
    {{#each}}
    <div class="devices-row">
        <div class="col-md-3 device">
            <div class="device-head">
                <h5>{{ device.name }}</h5>
            </div>
            <ul>
                <li>Device Name <h4>{{name}}</h4></li>
            </ul>
        </div>
    </div>
    {{/each}}
</div>