<div class="devices-row">
    <div class="col-lg-12 device">
        <div class="device-head">
            <h5>
                <span>Overview</span>
                <button class="btn btn-inverse btn-sm pull-right" {{action "save" this}} type="button">Save</button>
            </h5>
        </div>
        <div class="device box">
            {{partial "devicelist"}}
        </div>
    </div>
</div>
