{{#unless hideNavbar}}
    {{partial "navbar"}}
{{/unless}}

<div id="main-content">
    <div class="devices-row">
        {{#each 'waterheaters'}}
            {{#link-to 'device' this tagName=div class="col-md-3 device link"}}
                {{partial "devicecard"}}
            {{/link-to}}
        {{/each}}
    </div>
</div>