<div>
    <!-- Panel Menu -->
    <div id="panel-menu">
        <div id="user-info">
            <img src="assets/img/user.png" width="200px" />
        </div>
        <div class="accordion" id="leftMenu">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                        <span class="icon fui-home"></span> Dashboard
                    </a>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                        <span class=" icon fui-location">
                        </span> Locations
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="btn-group-vertical">
                            <button class="locationBtn" type="button" id="loc{{$index}}" ng-click="FilterLocation(location, $index)">{{location}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                        <span class="icon fui-gear"></span> Settings
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <ul>
                            <li>This is one</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading last">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                        <span class="icon fui-user"></span> Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Panel Menu -->
</div>